@import "reserveModal.css";
@import "table.css";

*{
    margin: 0;
    padding: 0;
}
h1, h4{
    text-align: center;
    padding: 1em;
}
.container{
    margin-top: 3em;   
}
button{
    padding: 0.5em 1.5em;   
    border-radius: 10px;
    border: 0;
    background: pink;
}
#add-room{
    display: block;
    width: 20%;
    margin: 2em auto;
}
span.close, #close-add, .close-reserve{
    display: block;
    color: red;
    margin-top: 0;   
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.2em; 
       
}
span.close:hover,
span.close:focus, #close-add:hover, #close-add:focus, .close-reserve:hover, .close-reserve:focus {
    cursor: pointer;
    background: red;
    color: white;
}
.submit-btn{display: block; margin: 1em}
.submit-btn:hover, .submit-btn:focus{cursor: pointer;}
