*{
    margin: 0;
    padding: 0;
}
h1, h4{
    text-align: center;
    padding: 1em;
}

.container{
    margin-top: 3em;
   
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
    
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1em;
}

button{
    padding: 0.5em 1.5em;   
    border-radius: 10px;
    border: 0;
    background: pink;
}

#add-room{
    display: block;
    width: 20%;
    margin: 2em auto;
}
.free-room{font-weight: bold;}
.free-room:hover, .free-room:focus, .edit-room button:hover, .edit-room button:focus{
    cursor: pointer;
}

.reserve-modal, .edit-modal, .add-modal{
    display: none;   
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    background: rgba(0,0,0,0.3);;
    top: 0;
    width: 100%;
    height: 100%;
}
.reserve-box, .edit-box, .add-box{
    margin: auto;
    width: 20%;
    background: white;
    padding-bottom: 0.5em;
    overflow: auto;
}
span.close, #close-add, .close-reserve{
    display: block;
    color: red;
    margin-top: 0;   
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.2em; 
       
}
span.close:hover,
span.close:focus, #close-add:hover, #close-add:focus, .close-reserve:hover, .close-reserve:focus {
    cursor: pointer;
    background: red;
    color: white;
}
.reserve-box h3, .edit-box h3, .add-box h3{
    text-align: center;    
    padding-top: 1.5em;
}
.reserve-box form, .edit-box form, .add-box form{
    padding: 1em;    
}
.reserve-box input, .edit-box input, .add-box input{
    padding: 0.5em;
    width: 90%;
}
.submit-btn{
    display: block;
    margin: 1em auto;
    width: 50%;
}
.submit-btn:hover, .submit-btn:focus{cursor: pointer;}
